* {
  margin: 0px;
}

@font-face {
  font-family: sans-serif;
  src: url("");
}

ul {
  list-style: none;
  padding: 0px;
}

body {
  height: 100vh;
}

hr {
  height: 55px !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(14, 44, 75, 0.9);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.right {
  float: right;
}

.light {
  background-color: aliceblue;
  color: #eb730d;
}

.dark {
  background-color: rgb(0, 0, 0) !important;
  color: teal;
}

.aqua {
  color: rgb(148, 213, 253);
  background: #031930;
}

a {
  color: #fff !important;
  text-decoration: none;
  padding: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonals {
  background: #000;
  padding: 20px;
}

.testimonals .testimonals-w-text {
  display: flex;
}

/* label {
  display: flex;
  width: 150px;
  height: 45px;
  border: 2px solid;
  border-radius: 15px;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}

label::before {
  transition: transform 0.75s ease;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  top: 6px;
  left: 12px;
} */

.settings-box {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 235px;
  height: 75px;
  border: 2px solid;
  padding: 7px 8px;
  /* align-items: center; */
  border-radius: 15px;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.preloader {
  min-width: 100vw;
  min-height: 100vh;
  /* -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px); */
  background: transparent;
  position: absolute;
  animation: ease-in 4s;
}

.load {
  animation-name: loadspinner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes loadspinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 30vh;
  left: 40vw;
  animation-name: loadspinner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.home-slide {
  color: #0a3838;
  max-width: 75%;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  border: 2px solid #f0db4f;
  border-radius: 7px;
  letter-spacing: 16px;
  transform: skewX(-15deg);
  margin-bottom: 15px;
  z-index: -1;
}

.slide-image {
  width: 600px;
  height: 500px;
  border-radius: 7px;
  width: 35%;
  color: #0a3838;
}

.home-slide::after {
  animation-name: loadspinner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes home-animation1 {
  from {
    left: 0;
  }
  to {
    right: 45;
  }
}

/*  */

.user_item {
  width: 350px;
  border: 1px solid #ebebeb;
  border-radius: 7px;
  display: inline-flex;
  justify-content: space-evenly;
}

.text-box {
  width: 150px;
}

.text-box:focus {
  border: 1.5px solid navy;
}

.progress1 {
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border-width: 15px;
  border: 15px solid lightskyblue;
  margin: auto;
}

.fill {
  border-radius: 50%;
}

#percent {
  align-items: center;
  text-align: center;
  margin-top: 30%;
}

.hide {
  display: none;
  transition: all 3s forwards;
}

#alertanimation {
  transition: all 2s forwards;
}

.navbar {
  height: 5em;
  width: 100%;
  background: linear-gradient(to right, #0a3838, #96d3d3, #f0db4f);
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

.site-logo {
  max-width: 60px;
  max-height: 60px;
  padding-top: 10px;
}

.header-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.quickadd {
  color: #fff;
  border-radius: 50px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.quickadd:hover {
  animation: ease-in 4s;
  animation-name: loadspinner;
  animation-duration: 1.5s;
  /* animation-iteration-count: 1; */
}

.circle {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.brand_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#brand {
  color: sandybrown;
  font: 1.5em sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 7px;
}

.notification_status {
  background: #f5ca47;
  color: #000;
  padding: 16px;
  font-weight: 600;
  border-radius: 7px;
  min-width: 180px;
  width: 400px;
  position: fixed;
  left: calc(100vw - 80%);
  vertical-align: middle;
  z-index: 9999;
  top: 25vh;
  transition: ease-in-out 5s all;
}

.transaction {
  margin: auto;
  text-align: center;
}

#trans_ref {
  height: 30px;
  padding: 7px;
  background: #b4b4b4;
}

h6 {
  text-align: center;
}

.brand_text {
  font: 1.5em sans-serif;
  font-weight: 800;
  color: sandybrown;
  align-items: center;
  position: relative;
  top: 7px;
  right: 16px;
}

.dashboard {
  min-height: 100vh;
}

.displaybox {
  padding: 15px;
  margin-top: 15px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

#topbar {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  align-items: center;
  padding: 7px;
  background-image: url("leaves-leaf-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: 999;
}

.bottom-bar {
  margin: 0 auto;
  min-width: 80vw;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 50px;
  right: 64px;
}

#bottom-bar {
  height: 60px;
  margin: 0 auto;
  padding: 15px 4px;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.menudrawer {
  background: rgba(255, 255, 255, 0.5) !important;
}

.notification {
  margin: 0px auto;
  padding: 25px;
  border-radius: 16px;
  height: 100vh;
  background: transparent;
  color: navy;
}

.MuiDialog-paperWidthSm {
  min-width: 400px !important;
}

.bills {
  width: 160px;
  min-width: 85px;
  height: 65px;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 35px;
  height: 35px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.display {
  width: 95%;
  margin: auto;
}

.display2 {
  min-width: 21%;
  max-height: 300px;
}

.hprogressbar {
  color: aliceblue;
  height: 20%;
  padding: 10;
  overflow: hidden;
  transition: 0.3s linear;
  text-align: center;
}

.display3 {
  width: 40%;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.display5 {
  width: 50%;
  height: 300px;
  padding: 30px;
}

#user {
  color: lightskyblue;
  text-transform: capitalize;
}

.slides {
  margin: 7px;
  display: flex;
  justify-content: space-between;
}

.slide {
  height: 7px;
  width: 20px;
  border-radius: 35px;
  background: rgba(214, 162, 28, 0.5);
}

.bubble {
  padding: 5px 13px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(135, 206, 250, 0.6);
  position: relative;
  left: 50px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

.bubble2 {
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: rgba(214, 162, 28, 0.5);
  position: relative;
  left: -23px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  z-index: -999;
}

.bubble3 {
  border-radius: 50%;
  content: "";
  min-width: 20px;
  min-height: 20px;
  background: rgba(250, 238, 135, 0.4);
  position: relative;
  right: -25px;
}

.bubble4 {
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(214, 162, 28, 0.3);
  position: relative;
  left: -36px;
  bottom: 64px;
  z-index: -999;
}

.bubble5 {
  /* margin: 0 auto; */
  position: relative;
  right: 25px;
  z-index: -999;
  animation-name: floating-bubble;
  transition: all 3s ease-in;
  animation-iteration-count: infinite;
}

@keyframes floating-bubble {
  from {
    right: 14px;
  }
  to {
    left: 4px;
  }
}

.slide:active {
  background: coral;
}

.status {
  overflow-y: scroll;
}

.status-content {
  display: flex;
  justify-content: space-between;
  border: 0.3px solid black;
  padding: 5px;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 5px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.calendar_day {
  color: lightskyblue;
  padding: 5px;
  margin: auto;
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
}

.calendar_day:hover {
  background-color: palevioletred;
  color: tomato;
}

.homedisplay {
  display: flex;
  letter-spacing: 7px;
  height: 400px;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center;
}

.subcription-fees {
  display: flex;
  width: 98%;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 2em;
}

.Payment-Plan {
  width: 21vw;
  min-width: 205px;
  height: 485px;
  padding: 15px;
  border-radius: 7px !important;
  text-align: center;
  text-transform: capitalize;
  background-image: url("leaves-leaf-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.price-slash {
  text-decoration: line-through;
  color: #b70356;
  font-weight: 500;
  position: relative;
  bottom: -20px;
  font-size: 16px;
}

.price-quote {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.price-discount {
  font-size: 14px;
  position: relative;
  top: -12px;
}

.TCs {
  height: 399px;
  border-radius: 7px;
  padding: 21px;
  border: 7px solid black;
  overflow-y: scroll;
}

@media (max-width: 469px) {
  .subcription-fees {
    display: block;
    width: 50%;
    margin: 0px auto;
    margin-top: 5em;
  }
  .price-quote {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .site-logo {
    padding-left: 10px;
  }
  #main-board {
    margin-left: 85px;
    margin-right: 20px;
  }
  .price-quote {
    font-size: 38px !important;
  }
  .employee-grid {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 768px) {
  .Payment-Plan {
    text-align: center;
    animation: forwards;
    animation-name: twist;
    animation-iteration-count: 1;
  }

  @keyframes twist {
    from {
      transform: skewY(-5deg);
    }
    to {
      transform: skewY(-15deg);
    }
  }

  .display2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .employee-grid {
    grid-template-columns: auto auto auto;
  }
}

/* @media (min-width: 825px) {
  .employee-grid{
    display: block;
    margin: auto;
  }
} */

@media (max-width: 1200px) {
  .employee-grid {
    grid-template-columns: auto auto auto auto auto;
  }

  .display2 {
    width: 100%;
    margin-bottom: 20px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #0a3838;
}

*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #229292;
}
/* *::-webkit-scrollbar-thumb {
  background-color: navy;
  border-radius: 10px;
  /* border-left: 1px solid #ffeaa7; 
} */

/* *::-webkit-scrollbar-track {
  background: navy;
  border-radius: 10px;
} */

.main {
  min-height: 100vh;
  color: rgb(29, 143, 137);
  background: rgb(14, 45, 75);
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.s {
  display: flex;
  margin: 0 auto;
  min-width: 92%;
  justify-content: space-between;
}

.m {
  width: 77%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 7px;
  margin-right: 25px;
}

.f {
  content: "";
  padding: 15px;
  border-radius: 7px;
  background: #fff;
}

.f:nth-child(2) {
  content: "";
  padding: 15px;
  height: 70%;
  border-radius: 7px;
  background: #fff;
}

.box {
  position: relative;
  width: 250px;
  height: 245px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  stroke-dasharray: 440;
  stroke-dashoffset: 400;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(360 - (360 * 80) / 100);
  stroke: rgb(14, 45, 75);
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.box .percent .number h2 span {
  font-size: 21px;
}

.form-text {
  font-size: 14px;
  font-weight: 600;
  line-break: 20px;
}

.form-control {
  align-items: center;
  width: 315px;
  min-width: 265px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 7px;
  padding: 25px 10px;
  box-shadow: 3px 4px 5px 1px;
}

label {
  color: #c2c1c1;
  position: relative;
  top: 30px;
  left: 30px;
  font-size: 0.6rem;
  transition: all 3s;
}

input {
  font-size: 1.2rem;
  padding: 16px 10px 10px;
  border-radius: 7px;
  margin: 10px 18px;
  outline: 0;
  border: 1px solid rgb(14, 45, 75);
}

input[type="search"] {
  font-size: 0.6rem;
  margin: 0;
}

input::placeholder {
  font-size: 10px;
  transition: all 3s;
}

#top {
  width: 95%;
  margin: 15px 10px auto;
}

#top #search {
  float: right;
}

.form-footer {
  color: #999;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-area {
  position: relative;
  bottom: 0px;
}

button {
  background-color: rgba(14, 44, 75, 0.2);
  color: #000;
  padding: 15px 15px;
  font-size: 14px;
  width: 125px;
  border: 0;
  border-radius: 12px;
  transition: all 3s;
}

button:hover {
  background-color: rgb(14, 44, 75);
  color: #fff;
  padding: 15px 15px;
  cursor: pointer;
}

button:disabled {
  background: #ebebeb;
  color: #0b1d4d;
  padding: 10px 15px;
}

input[type="text"]:disabled {
  color: rgb(29, 143, 137);
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 7px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.pay-platform {
  padding: 16px;
  border-radius: 7px;
  border: 1px solid #999;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 12px;
}

.PaySecure {
  display: flex;
  margin-top: 15px;
  margin: auto;
}

.amount {
  text-align: center;
  text-decoration: wavy;
  font-size: 21px;
  font-weight: 600;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details .card {
  display: flex;
  justify-content: space-between;
}

#admin-board {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.admin-links {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.admin-main {
  width: 100%;
  box-shadow: -5px -3px 15px #000;
  padding-top: 62px;
}

.admin-topbar {
  padding: 12px;
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: auto;
  background: rgba(14, 44, 75, 0.9);
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: -6px 6px 15px #000;
}

.admin-sidebar {
  padding: 75px 15px 15px 15px; 
  width: 20vw;
  background: rgb(14, 45, 75);
  color: #fff;
  font-size: 14px;
}

.admin-view {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.employee-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  margin: auto;
}

.employee-details {
  padding: 15px;
  box-shadow: -6px 6px 15px #0a3838;
}

.employee-card {
  width: 130px;
  height: 175px;
  padding: 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 3px 2px 5px #0a3838;
}

.employee-card .employee-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: auto;
}

.employee-card .employee-dept {
  color: #000;
  font-size: 10px;
  text-align: center;
  text-emphasis: inherit;
  text-transform: uppercase;
}
